


/*.navbar-nav {
    color: antiquewhite;
    margin-left: auto;
    
}
.nav-item{
    border: 10px;
    gap: 3px;
    font-weight: 900;
    height: 35px;
}
.navbar-nav .aboutus-bar:hover{
    background-color: rgb(82, 2, 2);
}
.aboutus-bar{
    border-radius: 12px;
    border: 1px black solid;
}
.purchase-bar{
    color: pink;
    border: 1px black solid;
    border-radius: 12px;
}*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: grey;
    box-shadow: 2px 2px 2px 2px grey;
    
}
.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgb(217, 217, 217);
    margin: 3px 7px 0 5px;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow:  19px 19px 38px #9f9f9f, -19px -19px 38px #ffffff;
}

.nav-item:hover {
    background-color: indianred;
}



.carousel {
    width: 500px; /*after so many tries, this was the only thing that help center the carrousel. But the heck am I suppose to*/
    margin: 0 auto;
}

.carousel-inner {
    position: static;
    margin: 0 auto;
}

.carousel-item {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
    transition: ease-in;
    
}
span{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: darkgoldenrod;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 3px;
    border: 1px gray dashed;
}

.letters {
    color: rgb(2, 4, 63);
    flex: 2;
    padding-right: 5px;
}
.fin{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}
.imagenes img{
    display: flex;
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
    margin: 10px 100px;
    box-shadow:  19px 19px 38px #d8f7f6, -19px -19px 38px #ffffff;
}

figcaption{
    color: rgb(79, 4, 172);
    font-size: x-small;
    text-align: center;
    margin: 0;
    
}
.contact, h3 {
    background-color: rgb(232, 232, 229);
    color: #280f0f;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    box-shadow:  19px 19px 38px #6a6b6b, -19px -19px 38px #ffffff;
}

.whatsapp{
    color: #2c1919;
    width: 50px;
    height: 50px;

}
